// variables
$color-Principal: #f58309e6;
$color-secundario: linear-gradient(to left, white, #f58309e6);
$titulo: 'gajraj one', cursive;
$texto-lectura: Arial, Helvetica, sans-serif;

* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  background: $color-Principal;
  font-family: $titulo;
}

// comienzo de la barra de navegacion
nav {
  background-color: white;
  width: 100%;
  height: 7%;
}

.navegacion {
  height: 100%;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.contenedor {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1px;
  top: 7.5px;
}

.button {
  width: 10em;
  position: relative;
  height: 1.5em;
  border: 1px ridge orange;
  border-radius: 20px;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  font-size: 16px;
  font-weight: bold;
}

.buttton::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
}

.button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 0.5s;
}

.button:hover::before,
button:hover::after {
  transform: scale(0);
}

.button:hover {
  box-shadow: inset 0px 0px 25px orangered;
}

// fin de la barra de navegacion
.padre {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.caja1 {
  background: $color-secundario;
}

.texto {
  text-align: center;
  font-family: $texto-lectura;
  font-size: 13px;
  color: black;
  background: radial-gradient(bisque, #f58309e6);
  font-weight: bold;
}

.caja2 {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}

section img {
  width: 386px;
  height: 157px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

section img:hover {
  width: 386px;
  height: 250px;
  opacity: 1;
  filter: contrast(120%);
}

// comienzo de footer
footer {
  background-color: $color-Principal;
  font-family: $texto-lectura;
  width: 100%;
  height: 9%;
}

.redes {
  text-align: center;
  text-decoration: none;
  color: black;
}

.facebook {
  width: 25px;
  height: 25px;
}

.instagram {
  width: 25px;
  height: 25px;
}

.twitter {
  width: 25px;
  height: 25px;
}

.tiktok {
  width: 25px;
  height: 25px;
}

// comienzo de las vistas desktop y movil 
@media(max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }

  header {
    width: 100%;
    text-align: center;
    background-color: #f58309e6;
    padding: 9px;
    font-family: 'gajraj one', cursive;
  }

  /* comienzo de la navegacion principal */
  nav {
    background-color: white;
    width: 100%;
    height: 7%;
  }

  .navegacion {
    height: 100%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }

  .contenedor {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 1px;
    top: 7.5px;
  }

  .button {
    width: 10em;
    position: relative;
    height: 1.5em;
    border: 1px ridge orange;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    font-size: 16px;
    font-weight: bold;
  }

  .buttton::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
  }

  .button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
  }

  .button:hover::before,
  button:hover::after {
    transform: scale(0);
  }

  .button:hover {
    box-shadow: inset 0px 0px 25px orangered;
  }

  .padre {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: blue;
  }

  .caja1 {
    width: 100%;
    background: linear-gradient(to left, white, #f58309e6);
  }

  .texto {
    text-align: center;
    font-family: $texto-lectura;
    font-size: 11px;
    color: black;
    background: radial-gradient(bisque, #f58309e6);
    font-weight: bold;
  }

  .caja2 {
    display: flex;
    flex-direction: column;
  }

  section {
    display: flex;
    width: auto;
    /* height: auto; */
  }

  section img {
    width: 100%;
    height: 107px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }

  section img:hover {
    width: 100%;
    height: 400px;
    opacity: 1;
    filter: contrast(120%);
  }

  /* inicio del footer */
  footer {
    background-color: #f58309e6;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 9%;
  }

  .redes {
    text-align: center;
    text-decoration: none;
    color: black;
  }

  .facebook {
    width: 25px;
    height: 25px;
  }

  .instagram {
    width: 25px;
    height: 25px;
  }

  .twitter {
    width: 25px;
    height: 25px;
  }

  .tiktok {
    width: 25px;
    height: 25px;
  }

}

@media(max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
  }

  header {
    width: 96%;
    text-align: center;
    background-color: #f58309e6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  /* comienzo de la navegacion principal */
  nav {
    background-color: white;
    width: 100%;
    height: 7%;
  }

  .navegacion {
    height: 100%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 9px;
  }

  .contenedor {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 1px;
    top: 7.5px;
  }

  .button {
    width: 10em;
    position: relative;
    height: 1.5em;
    border: 1px ridge orange;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    font-size: 16px;
    font-weight: bold;
  }

  .buttton::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
  }

  .button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
  }

  .button:hover::before,
  button:hover::after {
    transform: scale(0);
  }

  .button:hover {
    box-shadow: inset 0px 0px 25px orangered;
  }

  .padre {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .caja1 {
    width: 100%;
    background: linear-gradient(to left, white, #f58309e6);
  }

  .texto {
    text-align: center;
    font-family: $texto-lectura;
    font-size: 10px;
    color: black;
    background: radial-gradient(bisque, #f58309e6);
    font-weight: bold;
  }

  .caja2 {
    display: flex;
    flex-direction: column;

  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  section img {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }

  section img:hover {
    width: 100%;
    height: 250px;
    opacity: 1;
    filter: contrast(120%);
  }



  /* inicio del footer */
  footer {
    background-color: #f58309e6;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 9%;
  }

  .redes {
    text-align: center;
    text-decoration: none;
    color: black;
  }

  .facebook {
    width: 15px;
    height: 15px;
  }

  .instagram {
    width: 15px;
    height: 15px;
  }

  .twitter {
    width: 15px;
    height: 15px;
  }

  .tiktok {
    width: 15px;
    height: 15px;
  }

}

// fin de la vista desktop y movil
//comienzo de hoja Nosotros.html
.headernosotros {
  h1 {
    font-size: 31px;
    font-weight: bold;
    color: black;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
}

.bodynosotros {
  background: radial-gradient(bisque, #f58309e6);
}

.infonosotros {
  h1 {
    text-align: center;
    color: black;
    font-family: $titulo;
  }

  p {
    text-align: center;
    color: black;
    font-family: $texto-lectura;
    font-weight: bolder;
  }
}

.textonosotros {
  text-align: center;
  font-weight: bolder;

  h3 {
    font-family: $titulo;
  }
}

.imagen {
  display: flex;
  width: 600px;
  height: 220px;
  margin-top: 10%;
}

.imagen img {
  width: 0px;
  height: 150px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

.imagen img:hover {
  width: 200px;
  opacity: 1;
  filter: contrast(120%);
}

// comienzo de  hoja Planes.html

.mainplanes {
  width: 100%;
  background: radial-gradient(white, #f58309e6);

  .planes {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-family: $titulo;
      font-size: 35px;
    }

    p {
      font-family: $texto-lectura;
      font-weight: bolder;
      font-size: 16px;
    }
  }

  .cuadrosinformativos {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $titulo;

    .promo {
      margin-bottom: 10px;
      padding: 10px 10px;
      border-radius: 75px;
      background-color: rgb(252, 112, 18);
      color: white;
      outline: none;
      border: none;
      font-size: 14px;
      letter-spacing: 4px;
      font-weight: 400;
      box-shadow: 0 0 0 rgba(241, 4, 4, 0.4);
      animation: pulse 2s infinite;
      cursor: pointer;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        font-family: Arial, Helvetica, sans-serif;
      }

      70% {
        transform: scale(0.8);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        font-family: Arial, Helvetica, sans-serif;
        background-color: beige;
        color: black;
      }

      100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        background-color: orangered;


      }
    }
  }

  .tableuno {
    width: 40%;
    background-color: beige;

  }

  .tabledos {
    width: 17%;
    background-color: beige;
  }
}

//comienzo de dispositivo movil en Planes.html
@media (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }

  header {
    width: 100%;
    text-align: center;
    background: #f58309e6;
    font-family: 'gajraj one', cursive;
    font-size: 13px;
  }

  nav {
    background-color: white;
    width: 100%;
    height: 7%;
  }

  .navegacion {
    height: 100%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
  }

  .contenedor {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 1px;
    top: 7.5px;
  }

  .button {
    width: 10em;
    position: relative;
    height: 1.5em;
    border: 1px ridge orange;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    font-size: 16px;
    font-weight: bold;
  }

  .buttton::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
  }

  .button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
  }

  .button:hover::before,
  button:hover::after {
    transform: scale(0);
  }

  .button:hover {
    box-shadow: inset 0px 0px 25px orangered;
  }

  .mainplanes {
    .planes {
      padding-top: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .planes h1 {
      font-family: $titulo;
      font-size: 25px;
    }

    .planes p {
      font-family: $texto-lectura;
      font-weight: bolder;
      font-size: 15px;
    }

    .cuadrosinformativos {
      padding-top: 4%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-family: $texto-lectura;
    }

    .tableuno {
      width: 70%;
      background-color: beige;
    }

    .tabledos {
      width: 30%;
      background-color: beige;
    }

    .promo {
      margin-bottom: 10px;
      padding: 10px 10px;
      border-radius: 75px;
      background-color: rgb(252, 112, 18);
      color: white;
      outline: none;
      border: none;
      font-size: 14px;
      letter-spacing: 4px;
      font-weight: 400;
      box-shadow: 0 0 0 rgba(241, 4, 4, 0.4);
      animation: pulse 2s infinite;
      cursor: pointer;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        font-family: Arial, Helvetica, sans-serif;
      }

      70% {
        transform: scale(0.8);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        font-family: Arial, Helvetica, sans-serif;
        background-color: beige;
        color: black;
      }

      100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        background-color: orangered;


      }
    }

  }

  footer {
    background-color: #f58309e6;
    font-family: 'gajraj one', cursive;
    width: 100%;
    height: 9%;
  }

  .redes {
    text-align: center;
    text-decoration: none;
    color: black;
  }

  .facebook {
    width: 15px;
    height: 15px;
  }

  .instagram {
    width: 15px;
    height: 15px;
  }

  .twitter {
    width: 15px;
    height: 15px;
  }

  .tiktok {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
  }

  header {
    width: 96%;
    text-align: center;
    background: #f58309e6;
    font-family: $texto-lectura;
    font-size: 10px;

    h2 {
      font-size: 12px;
    }
  }

  nav {
    background-color: white;
    width: 100%;
    height: 7%;
  }

  .navegacion {
    height: 100%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
  }

  .contenedor {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 1px;
    top: 7.5px;
  }

  .button {
    width: 10em;
    position: relative;
    height: 1.5em;
    border: 1px ridge orange;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    font-size: 16px;
    font-weight: bold;
  }

  .buttton::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
  }

  .button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
  }

  .button:hover::before,
  button:hover::after {
    transform: scale(0);
  }

  .button:hover {
    box-shadow: inset 0px 0px 25px orangered;
  }

  .mainplanes {
    width: 100%;
    background: radial-gradient(white, #f58309e6);

    .planes {
      // padding-top: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .planes h1 {
      font-family: $titulo;
      font-size: 20px;
    }

    .planes p {
      font-family: $texto-lectura;
      font-weight: bolder;
      font-size: 12px;
    }

    .cuadrosinformativos {
      // padding-top: 4%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-family: $texto-lectura;
    }

    .tableuno {
      width: 93%;
      background-color: beige;
    }

    .tabledos {
      width: 50%;
      background-color: beige;
    }

    .promo {
      margin-bottom: 10px;
      padding: 10px 10px;
      border-radius: 75px;
      background-color: rgb(252, 112, 18);
      color: white;
      outline: none;
      border: none;
      font-size: 14px;
      letter-spacing: 4px;
      font-weight: 400;
      box-shadow: 0 0 0 rgba(241, 4, 4, 0.4);
      animation: pulse 2s infinite;
      cursor: pointer;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        font-family: Arial, Helvetica, sans-serif;
      }

      70% {
        transform: scale(0.8);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        font-family: Arial, Helvetica, sans-serif;
        background-color: beige;
        color: black;
      }

      100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        background-color: orangered;


      }
    }

  }

  footer {
    background-color: #f58309e6;
    font-family: 'gajraj one', cursive;
    width: 100%;
    height: 6%;
    margin: 0;
  }

  .redes {
    text-align: center;
    text-decoration: none;
    color: black;
  }

  .facebook {
    width: 15px;
    height: 15px;
  }

  .instagram {
    width: 15px;
    height: 15px;
  }

  .twitter {
    width: 15px;
    height: 15px;
  }

  .tiktok {
    width: 15px;
    height: 15px;
  }
}